- model_class = BlockList
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @block_lists.each do |block_list|
      %tr
        %td= link_to block_list.id, block_list_path(block_list)
        %td= block_list.name
        %td= l block_list.created_at
        %td
          - if current_user.in? block_list.users
            = button_to 'Unsubscribe',
              subscribe_path(block_list),
              :method => :delete,
              :class => 'btn btn-xs btn-danger'
          - else
            = button_to 'Subscribe',
              subscribe_path(block_list),
              :method => :post,
              :class => 'btn btn-xs btn-primary'
