= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :display_name
    %br/
    = f.text_field :display_name
  .field
    = f.label :account_created
    %br/
    = f.text_field :account_created
  .field
    = f.label :default_profile_image
    %br/
    = f.check_box :default_profile_image
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :incoming_follows
    %br/
    = f.number_field :incoming_follows
  .field
    = f.label :outgoing_follows
    %br/
    = f.number_field :outgoing_follows
  .field
    = f.label :account_id
    %br/
    = f.text_field :account_id
  .field
    = f.label :profile_image_url
    %br/
    = f.text_field :profile_image_url
  .field
    = f.label :user_name
    %br/
    = f.text_field :user_name
  .field
    = f.label :website
    %br/
    = f.text_field :website
  .field
    = f.label :posts
    %br/
    = f.number_field :posts
  .field
    = f.label :times_reported
    %br/
    = f.number_field :times_reported
  .field
    = f.label :times_blocked
    %br/
    = f.number_field :times_blocked
  .field
    = f.label :reports
    %br/
    = f.number_field :reports
  .field
    = f.label :blocks
    %br/
    = f.number_field :blocks
  .actions
    = f.submit
