<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Account created:</strong>
  <%= @user.account_created %>
</p>

<p>
  <strong>Default profile image:</strong>
  <%= @user.default_profile_image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Incoming follows:</strong>
  <%= @user.incoming_follows %>
</p>

<p>
  <strong>Outgoing follows:</strong>
  <%= @user.outgoing_follows %>
</p>

<p>
  <strong>Account:</strong>
  <%= @user.account_id %>
</p>

<p>
  <strong>Profile image url:</strong>
  <%= @user.profile_image_url %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @user.posts %>
</p>

<p>
  <strong>Times reported:</strong>
  <%= @user.times_reported %>
</p>

<p>
  <strong>Times blocked:</strong>
  <%= @user.times_blocked %>
</p>

<p>
  <strong>Reports:</strong>
  <%= @user.reports %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @user.blocks %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
