<p id="notice"><%= notice %></p>

<p>
  <strong>Subscription:</strong>
  <%= @block.subscription %>
</p>

<p>
  <strong>Block list:</strong>
  <%= @block.block_list %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
