<p id="notice"><%= notice %></p>

<h1>Listing Auths</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Key</th>
      <th>Secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auths.each do |auth| %>
      <tr>
        <td><%= auth.user %></td>
        <td><%= auth.key %></td>
        <td><%= auth.secret %></td>
        <td><%= link_to 'Show', auth %></td>
        <td><%= link_to 'Edit', edit_auth_path(auth) %></td>
        <td><%= link_to 'Destroy', auth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth', new_auth_path %>
