- model_class = Report
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

- if (@reports.where(processed: false).length == 0) and (not params['show_processed'])
  .page-header
    %h1 All Reports Processed!
  - if not params['show_processed']
    = link_to 'Show processed reports', '/reports/?show_processed=true', :class => 'btn btn-default'

- elsif @reports.length > 0
  .page-header
    %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
  - if not params['show_processed']
    = link_to 'Show processed reports', '/reports/?show_processed=true', :class => 'btn btn-default'
  - else
    = link_to 'Hide processed reports', '/reports', :class => 'btn btn-default'
  %table.table.table-striped
    %thead
      %tr
        %th= 'Report'
        %th= model_class.human_attribute_name(:created_at)
        %th= 'Reporter'
        %th= 'Target User'
        %th Block List
        %th= t '.actions', :default => t("helpers.actions")
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to report.text, report_url(report.id)
          %td= time_ago_in_words(report.created_at) + ' ago'
          %td
            = link_to report.reporter.name+' (@'+report.reporter.user_name+')',
              "https://twitter.com/"+report.reporter.user_name
          %td
            = link_to report.target.name+' (@'+report.target.user_name+')',
              "https://twitter.com/"+report.target.user_name

          - block_list = BlockList.find(report.block_list_id)
          %td= link_to block_list.name, block_list_url(block_list)

          - unless report.processed
            %td
              = button_to 'Approve',
                report_approve_path(report),
                :method => :post,
                :class => 'btn btn-xs btn-primary'
              = button_to 'Deny',
                report_deny_path(report),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger'
          - else
            %td -

- else
  .page-header
    %h1 No Accessible Reports
