- model_class = Report
.page-header
  %h1= t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
= form_for @report, :html => { :class => "form-horizontal report" } do |f|
  - if @report.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@report.errors.count, "error")
          prohibited this report from being saved:
      .panel-body
        %ul
          - @report.errors.messages.values.each do |msg|
            - msg.each do |m|
              %li= msg[0]
  .description
    %p Create a new report for a block list. Reports have to be formatted like:
    %p
      %code #BlockListName +ThePersonToBlock a description of why you are blocking them
    %p Example:
    %p
      %code #TerribleCompanies +SallieMae exports millions of students with loans
    %p Many block lists will also require reports to be approved by an administrator before that become blocks
  %hr
  .form-group
    = f.label 'Enter Report:', :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :text, :class => 'form-control'
    = f.error_span(:text)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :value => 'Create', :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),
        reports_path, :class => 'btn btn-default'
